<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>聊天</title>
</head>
<body style="margin: auto;padding: auto;text-align: center;">
<br/><br/><br/><br/>
<div style="margin:0 auto;width: 900px;">
    <div  style="width: 600px;height: 400px; background: chartreuse;float:left;text-align: center;margin: 0px;padding: 0px;overflow-y: auto;" id="msgContent">
        {{range .UserMsgList}}
            <div style="float: left;clear: both">
                <span>{{.Name}}：</span><br>
                <span>{{.Info}}</span>
            </div>
        {{end}}
    </div>

    <div  style="width: 300px;height: 400px;background: red;float:left;text-align: center">
        <ul style="list-style-type: none;margin: 0;padding: 0">
            {{range .Usermap}}
            <li>{{.Name}}--{{.Time}}</li>
            {{end}}
        <ul>
    </div>
    <br/><br/>
    <div style="width: 600px;margin: 20px">
         <input type="hidden" id="mingzi" value="{{.NowName}}">
        {{.NowName}}：<textarea id="content"  rows="10" cols="40"></textarea><br/>
        <button style="cursor: pointer"  id="tijiao">提交</button>
    </div>
</div>
</body>
</html>

<script>

    var socket = new WebSocket('ws://127.0.0.1:55/visit');

    // 打开Socket
    socket.onopen = function(event) {

        // 监听消息
        socket.onmessage = function(event) {
            var cont=event.data;
            var json=JSON.parse(cont);
            console.log(json.name)

            var str;
            str='<div style="float: left;clear: both">' +
                '                <span>'+json.name+'</span><br>' +
                '                <span>'+json.info+'</span>' +
                '            </div>'
            $("#msgContent").append(str);

        };

        socket.onerror = function() {
           // alert('发生异常了');
        };


        // 监听Socket的关闭
        socket.onclose = function(event) {
           // alert("关闭");
          //  console.log('Client notified socket has closed',event);
        };




    };



$(function (){
    $("#tijiao").click(function (){
        var content=$.trim($("#content").val());
        var mingzi=$("#mingzi").val();
        if(content==''){
            alert("内容不能为空"); return;
        }
        var   json={"name":mingzi,"info":content}
        jsonStr=JSON.stringify(json);
        socket.send(jsonStr);
        $("#content").val("");
        // var str;
        // str='<div style="float: left;clear: both">' +
        //     '                <span>'+json.name+'</span><br>' +
        //     '                <span>'+json.info+'</span>' +
        //     '            </div>'
        // $("#msgContent").append(str);
        //
        // $("#content").html("");
    })
})



</script>